*
!README.md
!docs
!docs/*
!MatchManagerSuite
!MatchManagerSuite/*
!Beu
!Beu/AFKNotifier.php
!Beu/ChatAdminColorer.php
!Beu/ReloadDevTool.php
!Beu/GuestlistManager.php
!Beu/MoreModesTools.php
!Beu/SimpleChatColorer.php
!Beu/SimpleSkinsRemover.php
!Beu/BeuDonationButton.php
!Beu/GameModeLoader.php