*
!README.md
!docs
!docs/*
!MatchManagerSuite
!MatchManagerSuite/*
!Beu
!Beu/AFKNotifier.php
!Beu/AutomaticMapSwitcher.php
!Beu/BeuCustomConfig.php
!Beu/BeuDonationButton.php
!Beu/BlacklistManager.php
!Beu/ChatAdminColorer.php
!Beu/ClimbTheMap.php
!Beu/GameModeLoader.php
!Beu/GuestlistManager.php
!Beu/MoreModesTools.php
!Beu/OpenplanetDetector.php
!Beu/ReloadDevTool.php
!Beu/SimpleChatColorer.php
!Beu/SimpleSkinsRemover.php
!Beu/SmallTextOverlay.php
!Beu/FastKick.php